@{
    ViewData["Title"] = "About YouTube video view guesser";
}
@section metatags{
    <meta name="description" content="ViewGuessr is a website which allows you to guess which YouTube video you think has the most views!" />
}
<h1>About ViewGuessr</h1>

<article>
    <p>ViewGuessr is a game based on YouTube videos that was created 3rd of October 2019.</p>
    <p>You are shown 2 randomly selected YouTube videos. You are shown the title and the thumbnail for the video and your goal is to guess which video that has the most views</p>
    <p>Everytime you guess correctly you will be faced with a new pair of videos.</p>
    <p>If you are unsuccessful at guessing which video that has the most views, the game is over.</p>
    <p>If you want to watch any of the videos you encountered throughout the game, you can do so in the Game History after the game is over.</p>
    <p>You can also put your score on the leaderboard, to see how you rank up against other players.</p>
</article>