@{
    ViewData["Title"] = "Legal information";
}
@section metatags{
    <meta name="description" content="Overview of the legal information documents for ViewGuessr." />
}

<h1>@ViewData["Title"]</h1>

<p>Here you can find all the legal documents and policies for ViewGuessr.</p>
<p>Our privacy policy can be found and read here: <a href="/Home/Privacy">Privacy policy</a></p>
<p>Our Terms of Service can be found and read here: <a href="/Home/ToS">Terms of Service</a></p>