.tutorial-text-div {
    position: absolute;
    padding: 16px;
    text-align: center;
    font-size: 18px;
    color: #e71d36;
    text-shadow: 0px 0px 2px #000000, -2px -2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000, 2px 2px 2px #000000;
    z-index: 1000;
}

#tutorialExitButton {
    margin-top: 4px;
}

/* Tutorial step 1 */
.pulsating-border {
    border: solid 8px black;
    animation: border-pulsate 2s infinite;
}

@keyframes border-pulsate {
    0% {
        border-color: rgba(28, 96, 255, 1);
    }

    50% {
        border-color: rgba(255, 242, 193, 0);
    }

    100% {
        border-color: rgba(28, 96, 255, 1);
    }
}